.Stories__container {
  padding: 10px 0 10px 0;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}
.Stories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* gap: 20px; */
  width: 100%;
  overflow: scroll;
}
.Stories::-webkit-scrollbar {
  display: none;
}
