.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 30px;
  min-width: 30px;
  padding: 5px;
  position: relative;
}
.Button__img {
  width: 25px;
  height: 25px;
}

.Button__notification {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  border: 2px solid var(--c-white);
  position: absolute;
  top: 5px;
  right: 5px;
}
