.Post {
  width: 100%;
  border-bottom: 2px solid #c2c2c2;
}

.Post__header {
  padding: 10px;
  background-color: var(--c-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Post__header_sx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.Post__header__avatar {
  width: 32px;
  height: 32px;
  background-color: #c2c2c2;
  border-radius: 50%;
  margin-right: 10px;
}
.Post__header__avatar img {
  width: 100%;
  border-radius: 50%;
}
.Post__header__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Post__header__info b {
  color: var(--c-black);
  font-size: 13px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.Post__header__info b img {
  width: 15px;
  height: 15px;
}

.Post__header__info p {
  margin: 0;
  font-size: 11px;
}

.Post__header_dx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Post__imgContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}
.Post__imgContainer::-webkit-scrollbar {
  display: none;
}

.Post__imgContainer img {
  width: 100%;
  scroll-snap-align: center;
}

.Post__toolbar {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Post__toolbar__sx {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Post__toolbar__center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Post__toolbar__dx {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Post__likes__container {
  padding: 10px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Post__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Post__likes__avatar {
  width: 17px;
  height: 17px;
}
.Post__likes__avatar img {
  width: 100%;
  background-color: rebeccapurple;
  border-radius: 50%;
}

.Post__likes__info p {
  margin: 0;
  margin-left: 6px;
  font-size: 13px;
}

.Post__comments {
  padding: 0px 15px 15px 15px;
  display: flex;
  flex-direction: column;
}
.Post__comment p {
  margin: 0;
  font-size: 13px;
}
